@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  {
    .u{
        display: none;
    }
    .landingpage{
        height: 80%;
    }
    .links{
        
        display: none;    
    }
    .midpart{
        padding: 30px 60px;
    }
    .midpart h1{
        font-size: 20px;
        padding: 20px 0;
    }
}